@import "tailwindcss";

@theme {
  --font-sans: var(--font-jose-sans);
  --font-mono: var(--font-comforta);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #102B55;
  --secondary: #174A7E;
  --tertiary: #22699D;
  --light-background: #202124;
  --dark-background: #121212;

  --background-opacity-1: rgba(255, 255, 255, 1);
  --background-opacity-009: rgba(255, 255, 255, 009);
  --background-opacity-008: rgba(255, 255, 255, 008);
  --background-opacity-007: rgba(255, 255, 255, 007);
  --background-opacity-006: rgba(255, 255, 255, 006);
  --background-opacity-005: rgba(255, 255, 255, 005);
  --background-opacity-004: rgba(255, 255, 255, 004);
  --background-opacity-003: rgba(255, 255, 255, 003);
  --background-opacity-002: rgba(255, 255, 255, 002);
  --background-opacity-001: rgba(255, 255, 255, 001);

  --foreground-opacity-1: rgba(23, 23, 23, 1);
  --foreground-opacity-009: rgba(23, 23, 23, 009);
  --foreground-opacity-008: rgba(23, 23, 23, 008);
  --foreground-opacity-007: rgba(23, 23, 23, 007);
  --foreground-opacity-006: rgba(23, 23, 23, 006);
  --foreground-opacity-005: rgba(23, 23, 23, 005);
  --foreground-opacity-004: rgba(23, 23, 23, 004);
  --foreground-opacity-003: rgba(23, 23, 23, 003);
  --foreground-opacity-002: rgba(23, 23, 23, 002);
  --foreground-opacity-001: rgba(23, 23, 23, 001);

  --primary-opacity-1: rgba(16, 43, 85, 1);
  --primary-opacity-009: rgba(16, 43, 85, 009);
  --primary-opacity-008: rgba(16, 43, 85, 008);
  --primary-opacity-007: rgba(16, 43, 85, 007);
  --primary-opacity-006: rgba(16, 43, 85, 006);
  --primary-opacity-005: rgba(16, 43, 85, 005);
  --primary-opacity-004: rgba(16, 43, 85, 004);
  --primary-opacity-003: rgba(16, 43, 85, 003);
  --primary-opacity-002: rgba(16, 43, 85, 002);
  --primary-opacity-001: rgba(16, 43, 85, 001);

  --secondary-opacity-1: rgba(23, 74, 126, 1);
  --secondary-opacity-009: rgba(23, 74, 126, 009);
  --secondary-opacity-008: rgba(23, 74, 126, 008);
  --secondary-opacity-007: rgba(23, 74, 126, 007);
  --secondary-opacity-006: rgba(23, 74, 126, 006);
  --secondary-opacity-005: rgba(23, 74, 126, 005);
  --secondary-opacity-004: rgba(23, 74, 126, 004);
  --secondary-opacity-003: rgba(23, 74, 126, 003);
  --secondary-opacity-002: rgba(23, 74, 126, 002);
  --secondary-opacity-001: rgba(23, 74, 126, 001);

  --tertiary-opacity-1: rgba(34, 105, 157, 1);
  --tertiary-opacity-009: rgba(34, 105, 157, 009);
  --tertiary-opacity-008: rgba(34, 105, 157, 008);
  --tertiary-opacity-007: rgba(34, 105, 157, 007);
  --tertiary-opacity-006: rgba(34, 105, 157, 006);
  --tertiary-opacity-005: rgba(34, 105, 157, 005);
  --tertiary-opacity-004: rgba(34, 105, 157, 004);
  --tertiary-opacity-003: rgba(34, 105, 157, 003);
  --tertiary-opacity-002: rgba(34, 105, 157, 002);
  --tertiary-opacity-001: rgba(34, 105, 157, 001);

  --light-background-opacity-1: rgba(32, 33, 36, 1);
  --light-background-opacity-009: rgba(32, 33, 36, 009);
  --light-background-opacity-008: rgba(32, 33, 36, 008);
  --light-background-opacity-007: rgba(32, 33, 36, 007);
  --light-background-opacity-006: rgba(32, 33, 36, 006);
  --light-background-opacity-005: rgba(32, 33, 36, 005);
  --light-background-opacity-004: rgba(32, 33, 36, 004);
  --light-background-opacity-003: rgba(32, 33, 36, 003);
  --light-background-opacity-002: rgba(32, 33, 36, 002);
  --light-background-opacity-001: rgba(32, 33, 36, 001);

  --dark-background-opacity-1: rgba(18, 18, 18, 1);
  --dark-background-opacity-009: rgba(18, 18, 18, 009);
  --dark-background-opacity-008: rgba(18, 18, 18, 008);
  --dark-background-opacity-007: rgba(18, 18, 18, 007);
  --dark-background-opacity-006: rgba(18, 18, 18, 006);
  --dark-background-opacity-005: rgba(18, 18, 18, 005);
  --dark-background-opacity-004: rgba(18, 18, 18, 004);
  --dark-background-opacity-003: rgba(18, 18, 18, 003);
  --dark-background-opacity-002: rgba(18, 18, 18, 002);
  --dark-background-opacity-001: rgba(18, 18, 18, 001);

  --destructive: #FF4C4C; /* Red for destructive actions */
  --warning: #FFA500; /* Orange for warnings */
  --successful: #4CAF50; /* Green for successful actions */

  --destructive-opacity-1: rgba(255, 76, 76, 1);
  --destructive-opacity-009: rgba(255, 76, 76, 009);
  --destructive-opacity-008: rgba(255, 76, 76, 008);
  --destructive-opacity-007: rgba(255, 76, 76, 007);
  --destructive-opacity-006: rgba(255, 76, 76, 006);
  --destructive-opacity-005: rgba(255, 76, 76, 005);
  --destructive-opacity-004: rgba(255, 76, 76, 004);
  --destructive-opacity-003: rgba(255, 76, 76, 003);
  --destructive-opacity-002: rgba(255, 76, 76, 002);
  --destructive-opacity-001: rgba(255, 76, 76, 001);

  --warning-opacity-1: rgba(255, 165, 0, 1);
  --warning-opacity-009: rgba(255, 165, 0, 009);
  --warning-opacity-008: rgba(255, 165, 0, 008);
  --warning-opacity-007: rgba(255, 165, 0, 007);
  --warning-opacity-006: rgba(255, 165, 0, 006);
  --warning-opacity-005: rgba(255, 165, 0, 005);
  --warning-opacity-004: rgba(255, 165, 0, 004);
  --warning-opacity-003: rgba(255, 165, 0, 003);
  --warning-opacity-002: rgba(255, 165, 0, 002);
  --warning-opacity-001: rgba(255, 165, 0, 001);

  --successful-opacity-1: rgba(76, 175, 80, 1);
  --successful-opacity-009: rgba(76, 175, 80, 009);
  --successful-opacity-008: rgba(76, 175, 80, 008);
  --successful-opacity-007: rgba(76, 175, 80, 007);
  --successful-opacity-006: rgba(76, 175, 80, 006);
  --successful-opacity-005: rgba(76, 175, 80, 005);
  --successful-opacity-004: rgba(76, 175, 80, 004);
  --successful-opacity-003: rgba(76, 175, 80, 003);
  --successful-opacity-002: rgba(76, 175, 80, 002);
  --successful-opacity-001: rgba(76, 175, 80, 001);
}

body {
  padding: 0;
  margin: 0;
}

* {
  font-family: var(--font-jose-sans);  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .bg-pattern {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, #80808012 1px, transparent 1px),
      linear-gradient(to bottom, #80808012 1px, transparent 1px);
    background-size: 24px 24px;
  }

  .bg-pattern::before {
    content: '';
    position: absolute;
    inset: 0;
    background: transparent;
    transition: background 0.3s ease;
  }
}