@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}

body {
  animation: background-pan 5s linear infinite;
  background: linear-gradient(to right, var(--dark-background), var(--background), var(--dark-background));
  background-size: 200%;
  opacity: 0.8;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

body.toggled {
  animation: none;
}

#tiles {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: grid;
}

.tile {
  cursor: pointer;
  position: relative;
}

.tile:hover::before {
  background-color: rgb(0, 0, 0);
}

.tile::before {
  background-color: var(--primary);
  opacity: 0.1;
  content: "";
  inset: 0.5px;
  position: absolute;
}

body.toggled .tile:hover {
  opacity: 0.1 !important;
}
